#banner {
    background: linear-gradient(
        to right,
        #f7a71e 6.78%,
        rgba(39, 126, 225, 0.5) 94.1%
      ),
      url("./Rectangle\ 33.png") no-repeat;
    height: 100%;
    background-size: cover;
  }
  
  .tagLinetext{
    text-align: center !important;
  }
  
  .lowerpart .btn {
    background-color: white;
    transition: 0.8s;
  }
  
  .lowerpart .btn-warning:hover {
    background-color: #f7a71e !important;
    color: white !important;
  }
  
  .lowerpart .btn-info:hover {
    background-color: rgb(0, 208, 255) !important;
    color: white !important;
  }
  
  @media (max-width: 575px) {
    .areyou {
      font-size: 19px !important;
    }
    .hiddenbtn{
      display: block !important;
    }
    .loginBtn{
      display: none !important;
    }
  
    .tagQ {
      font-size: 40px !important;
    }
  
    .paragraph {
      font-size: 16px !important;
    }
  }
  
  
